/*Общие стили*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: radial-gradient(circle at top, #1a1a1a, #0d0d0d);
    color: white;
}
/*Шапка*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #000000cc, #00000000);
    backdrop-filter: blur(5px); /* Лёгкое размытие */
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e50914
}
.movies-gird {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}
.movie-card:hover {
    transform: scale(1.05);
    opacity: 1;
    color: #e50914
}
/*Стили для плейсхолдеров*/
.movie-card img {
    width: 50%;
    height:auto;
    display: block;
    border-bottom: 2px solid #333
}
/*нахождение*/
.movie-card img[scr*="placeholder"] {
    background-color: #f5f5f5;
    border: 1px dashed #999;
    opacity: 0.8;
    transition: all 0.3s;
}
.movie-card {
    transition: all 0.3s ease; /* Плавные изменения */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Лёгкая тень */
}
